.row {
  padding-top: 40px;
  padding-bottom: 40px;
  clear: both;
  position: relative;
}

@media only screen and (min-width: 769px) {
  .row {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

a:hover .post-title,
a:focus .post-title {
  color: #409CF9;
}

.posts .post {
  padding-top: 0px;
  padding-bottom: 60px;
  margin-top: 0px;
  margin-bottom: 60px;
  text-align: center;
  border-bottom: 1px solid #E0E0E0;
}

@media only screen and (min-width: 769px) {
  .posts .post {
    padding-top: 0px;
    padding-bottom: 120px;
  }
}

@media only screen and (min-width: 769px) {
  .posts .post {
    margin-top: 0px;
    margin-bottom: 120px;
  }
}

@media only screen and (min-width: 769px) {
  .posts .post {
    padding-left: 15.25424%;
    padding-right: 15.25424%;
  }
}

.post-details {
  margin-bottom: 25px;
  text-align: center;
  position: relative;
}

.post-avatar {
  box-shadow: 0 0 0 3px #fff;
  border-radius: 100%;
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
}

.post-byline {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #6F6F6F;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .post-byline {
    font-size: 11px;
  }
}

.post-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  color: #000;
  transition: color 0.2s ease-in-out;
  margin-bottom: 20px;
}

@media only screen and (min-width: 769px) {
  .post-title {
    font-size: 2.969vw;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .post-title {
    font-size: 38px;
  }
}

.post-excerpt {
  font-weight: 300;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
  color: #6F6F6F;
  margin: 0;
}

@media only screen and (min-width: 769px) {
  .post-excerpt {
    font-size: 20px;
  }
}

.button {
  margin: 10px;
  padding: 16px 48px;
  letter-spacing: 4px;
  font-size: 11px;
  font-weight: 600;
  color: #000;
  border: 2px solid #5984FB;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  transition: .3s;
}
.button:after {
  position: absolute;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #5984FB;
}

.button:hover {
  cursor: pointer;
}
.button:hover:after {
  width: 100%;
  left: 0;
}

.pager {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
