.footer {
  padding-top: 110px;
}

.grey {
  background: #F7F7F7
}

@media only screen and (min-width: 769px) {
  .footer {
    padding-top: 180px;
  }
}

@media only screen and (min-width: 769px) {
  .footer-contacts {
    display: flex;
    justify-content: center;
  }
}

.footer-contact {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .footer-contact {
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 769px) {
  .footer-contact {
    flex-grow: 1;
    max-width: 360px;
    padding: 0 1.69492%;
  }
}

@media only screen and (max-width: 768px) {
  .footer-contact:last-child {
    margin-bottom: 0;
  }
}

.footer-heading {
  font-size: 11px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 12px;
}

.footer-contact a, .footer-contact p {
  color: #8F8F8F;
  font-size: 18px;
  transition: color 0.2s ease-in-out;
}

@media only screen and (min-width: 769px) {
  .footer-contact a, .footer-contact p {
    font-size: 14px;
  }
}

.footer-contact a:hover,
.footer-contact a:focus {
  color: #409CF9;
}

.footer-social {
  clear: both;
  display: flex;
  justify-content: center;
  padding: 60px 0;
  width: 100%;
}

@media only screen and (min-width: 769px) {
  .footer-social {
    padding: 80px 0;
  }
}

.footer-social a {
  color: #409CF9;
  font-size: 24px;
  padding: 0 18px;
  transition: opacity 0.2s ease-in-out;
}

@media only screen and (min-width: 769px) {
  .footer-social a {
    font-size: 19px;
    padding: 0 17px;
  }
}

.footer-social a:hover,
.footer-social a:focus {
  opacity: 0.6;
}

.footer-social.theme-purple a {
  color: #BB69FF;
}

.footer-social.theme-green a {
  color: #21EFC7;
}
