---
layout: default
active: work
title: Yo
logo: logo
h1-size: large
h1-text: 'Small<br>Business<br>Promotion'
header-color: theme-purple
---

<div class="home">

  {% include navigation.html %}
  {% include header.html %}
  {% include home-grid.html %}
  <footer class="footer grey">
    <div class="container">
      <div class="footer-contacts">
        <div class="footer-contact">
          <h5 class="footer-heading">Business</h5>
          <a href="#" title="Let's work together">hello@triple-sided.com</a>
        </div>
        <div class="footer-contact">
          <h5 class="footer-heading">Office</h5>
          <p class="editable">Working remotely in New Hampshire.</p>
        </div>
        <div class="footer-contact">
          <h5 class="footer-heading">Phone</h5>
          <a href="#" title="We'd love to talk">+1 (603) 918-3420</a>
        </div>
      </div>
      <div class="footer-social theme-purple">
        <a href="#" title="facebook">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#" title="twitter">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#" title="instagram">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="#" title="linkedin">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div>
  </footer>

  <div class="gradient-bar theme-purple"></div>
</div>
