<nav class="menu">
  <!-- Logo -->
  <a href="/" class="brand" title="New Cabal">
    <img class="brand-logo" src="/assets/img/{{ page.logo }}.svg" alt="New Cabal">
    <span class="brand-name">TRIPLE SIDED</span>
  </a>
  <!-- Mobile menu toggle -->
  <a href="#" class="menu-toggle">
    <span>Menu</span>
    <span></span>
    <span></span>
  </a>
  <!-- Navigation -->
  <div class="menu-overlay">
    <ul class="menu-links">
      <li class="menu-item menu-overlay-brand">
        <div class="logo"></div>
      </li>
      <li class="menu-item">
        <a class="active menu-link" href="/">Work</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/services">Services</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/blog">Blog</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
