<main>
  <section id="services">
    <div class="heading">
      <h2 class="heading-title">
        Your website is like real estate, the better it is, the more its worth. We offer services that transform you're online identity into an authority that attracts business.
      </h2>
    </div>
    <div class="container">
      <div class="focus">
        <h3 class="eyebrow">FOCUS</h3>
        <dl class="capabilities">
          <dt class="capability-header">
            <img alt="Brand Stradegy" class="capability-icon" height="70" src="/assets/img/socialmedia.svg" width="81">
            <h4 class="capability-title">Brand Strategy</h4></dt>
          <dd class="capability-desc">
            <p>
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p></dd>
          <dt class="capability-header">
            <img alt="Brand Stradegy" class="capability-icon" height="70" src="/assets/img/ux.svg" width="104">
            <h4 class="capability-title">Internet Marketing</h4></dt>
          <dd class="capability-desc">
            <p>
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p></dd>
          <dt class="capability-header">
            <img alt="Visual Design" class="capability-icon" height="60" src="/assets/img/webdesign.svg" width="96">
            <h4 class="capability-title">Visual Design</h4></dt>
          <dd class="capability-desc">
            <p>
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p></dd>
          <dt class="capability-header">
            <img alt="Prototyping & Devlopment" class="capability-icon" height="75" src="/assets/img/devv.svg" width="75">
            <h4 class="capability-title">Prototyping & Development</h4></dt>
          <dd class="capability-desc">
            <p>
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p></dd>
        </dl>
      </div>
    </div>
  </section>
</main>
